@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2d52;
    height: 50px;
    padding: 10px;
    color: white;

    .logo {
        font-weight: bold;
        @include mobile {
            display: none;
        }
    }

    .user {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            background-color: #ddddf7;
            height: 44px;
            width: 44px;
            border-radius: 50%;
            object-fit: cover;
        }

        button {
            background-color: #5d5b8d;
            color: #ddddf7;
            border-radius: 10px;
            border: none;
            font-size: 14px;
            cursor: pointer;

            @include mobile {
                position: absolute;
                bottom: 10px;
            }
        }
    }
}